@keyframes moveInleft {
  0% {
    /*start animation*/
    opacity: 0;
    transform: translateX(-10rem);
    /*a  la izq de su posicion*/
  }
  80% {
    /*almost the end animation*/
    transform: translateX(1rem);
  }
  100% {
    /*end animation*/
    opacity: 1;
    transform: translate(0);
    /*en su estado que luce sin animacion */
  }
}
@keyframes moveInRight {
  0% {
    /*start animation*/
    opacity: 0;
    transform: translateX(10rem);
    /*a  la derecha de su posicion*/
  }
  80% {
    /*almost the end animation*/
    transform: translateX(-1rem);
  }
  100% {
    /*end animation*/
    opacity: 1;
    transform: translate(0);
    /*en su estado que luce sin animacion */
  }
}
@keyframes moveInBottom {
  0% {
    /*start animation*/
    opacity: 0;
    transform: translateY(3rem);
    /*a  la derecha de su posicion*/
  }
  100% {
    /*end animation*/
    opacity: 1;
    transform: translate(0);
    /*en su estado que luce sin animacion */
  }
}
*,
*::after,
*::before {
  /*universal selector*/
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*best practice y poner en el body border-box*/
}

html {
  /*  root   font   size */
  font-size: 62.5%;
  /* 62.5 % del 100% del font size defalul del browser (16 px) dando entonces 10 px que la base de calculo para todos los demas REM*/
}

body {
  box-sizing: border-box;
  /*changes the box for model borders or padding no longer edit for a total weight or heigh of a box*/
}

body {
  /*font definition font is getting inheriti*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;  ya no para poner todas las size en REM  y en el root se especifica*/
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  /*padding is not getting inheriti */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*el fondo de un elemento transformado esta escondido*/
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  /*block ocupa todo donde esta contenido y tiene salto de linea*/
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /*
  animation-delay: 3s;
  animation-iteration-count: 3;

  */
}
.heading-primary--sub {
  display: block;
  /*block ocupa todo donde esta contenido y tiene salto de linea*/
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.btn:link, .btn:visited {
  /*pseudo clases pasan en un estado del elemento, como hover*/
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  /*se especifica al principio de la animacion initial state*/
  position: relative;
  /*referencia del pseudo element btn::after*/
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /*x  y  blur  opacity  RGB en variable solo funciona en SASS*/
}
.btn:hover::after {
  /*when we hover the botton THEN we want certain style for the pseudo elemen */
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  /*desaparecer elemento (invisible)*/
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn::after {
  /* pseudo element add virtual or hidden elements rihght after the element that we are selecting and we can style that pseudo element*/
  content: "";
  /*always specify content*/
  display: inline-block;
  /*cause btn is inline block by definition*/
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  /*absolute position needs a reference and will be the first elemert with relative position thah can find*/
  top: 0;
  /*0 px en relacion al padre*/
  left: 0;
  /*0 px en relacion al padre*/
  z-index: -1;
  /*define posisicones de los elementos uno arriba de otro -1 es atras */
  transition: all 0.4s;
  /*initial state*/
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
  /*manda el style de la animacion al 0% antes de que aparezca la animacion aqui para que el boton inicie desaparecido y luego la animacion entre*/
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2*6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2*((100% - 2*6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3*6rem) / 4);
}
.row .col-2-of-4 {
  width: calc( 2*((100% - 3*6rem) / 4) + 6rem );
}
.row .col-3-of-4 {
  width: calc( 3*((100% - 3*6rem) / 4) + 2*6rem );
}

.header {
  height: 95vh;
  /*95 % of the view*/
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /*fit the element inside of the box*/
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*formas en https://bennettfeely.com/clippy/  */
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  /*apartir de la posicion relativa de su padre*/
  left: 4rem;
  /*apartir de la posicion relativa de su padre*/
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  /*40 % en relacion al padre*/
  left: 50%;
  /*50 % en relacion al padre*/
  transform: translate(-50%, -50%);
  /*50% en relacion al elemento en si mismo y no al 50% en relacion al padre*/
  text-align: center;
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  /*fit the element inside of the box*/
}

/*# sourceMappingURL=style.css.map */
