.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;  // el paragraph heredara este tamaño de letra
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    &__icon {  // icon fonts  are treated like a font
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block; // con esto el gradiente solo va de izquierda a derecha
        background-image: linear-gradient(to right , $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;  // para que el efecto del gradiete este atras del texto solamente
        color: transparent;                 // transparente el texto para que se vea el gradiente
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03); //hay que poner trasition en el padre para que el efecto empiece
    }


}